# .gitignore
# Ignore output files
sample_dataset/outputs/*.json

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# VSCode settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Env or virtualenv if you create one
env/
venv/
